#browser-not-supported-modal {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 4px;
  width: 508px;
  max-width: 100%;
  padding: 24px 32px;
  margin: 3rem auto;

  #browser-not-supported-modal__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;

    .btn {
      margin-right: 10px;
    }
  }
}