#app-new-user-page {
  #app-new-user-page__roles {
    .btn {
      color: #0376BC !important;
      font-size: 14px;
      font-weight: 600;
      background: #D9F0FE;
      margin-top: 8px;
      margin-right: 7px;
      &.active {
        color: white !important;
        background: #0376BC;
      }
    }
  }

  .c-form-row {
    margin-top: 1rem;
    > label {
      display: block;
      margin-bottom: 8px;
    }
    > div {
      display: flex;
      align-items: center;

      > span {
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .custom-form-control {
        max-width: 350px;
      }
    }
  }

  #app-new-user-page__buttons {
    display: flex;
    align-items: center;

    .btn {
      margin-right: 8px;
    }
  }
}