#login-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 15px;

  form {
    width: 508px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 300px;
    }

    h2 {
      text-align: center;
      margin-top: 2rem;
    }

    .c-form-row {
      margin-top: 1rem;
      width: 100%;

      label {
        margin-bottom: 8px;
        display: block;
      }
    }

    #login-page__button {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn {
        min-width: 118px;
      }
    }
  }

  @media all and (max-width: 767px) {
    .white-box {
      width: 100%;
    }
    form {
      width: 100%;

      #login-page__button {
        display: block;

        > a {
          display: block;
        }

        .btn {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
}