#process-withdraw-modal {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 4px;
  width: 508px;
  padding: 24px 32px;
  margin: 3rem auto;

  select, input {
    display: block;
    margin-top: 8px;
    height: 36px;
  }

  #process-withdraw-modal__buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .btn {
      margin-right: 10px;
    }
  }
}