#app-settings-pageMenu {
  background: #F6F6F6;
  box-shadow: 0px 1px 0px #C2D2D9;
  margin-top: -40px;
  margin-bottom: 40px;

  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      display: block;
      margin-right: 2rem;
      a {
        display: block;
        padding-top: 11px;
        padding-bottom: 11px;
        font-size: 13px;
        font-weight: 500;
        color: #324750;
        &:hover {
          text-decoration: none;
        }
      }

      &.active {
        a {
          box-shadow: inset 0px -2px 0px #00B0B5;
        }
      }
    }
  }
}