#change-password-modal {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 4px;
  width: 417px;
  max-width: 100%;
  padding: 24px 32px;
  margin: 3rem auto;

  h3 {
    font-size: 20px;
  }

  ul {
    margin-top: 12px;
    margin-bottom: 24px;
    list-style: inside;
    li {
      font-size: 13px;
    }
  }

  .c-form-row {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 8px;
    }
  }

  #change-password-modal__buttons {
    display: flex;
    align-items: center;
    .btn {
      margin-right: 8px;
    }
  }
}